@tailwind base;
@tailwind components;
@tailwind utilities;

/* リセットCSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
}